<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <!-- for add new tab in Magento2 system configuration section -->
        <tab id="aaoo" translate="label" sortOrder="10">
             <label>Aaoo</label>
        </tab>
        <!-- for create section -->
        <section id="ajaxconfig" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Ajax Config</label>
            <!-- Assign section to tab -->
            <tab>aaoo</tab>
            <resource>Magento_Config::config</resource>
            <!-- create group for fields in section -->
            <group id="parameters" translate="label" type="text" delault="1" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Parameters</label>
                <!-- create text type field -->
                <field id="login_class" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login Class</label>
                    <comment>Like .aaoo-1,.aaoo-2 or .aaoo-1,#aaoo-2 take you want class.</comment>
                    <!-- <validate>validate-number required-entry</validate> -->
                </field>
            </group>
        </section>
    </system>
</config>